{#
You MUST do includes on your own. This relies on a project state that ensures the storage location for your repo exists. It also depends on Git:

For the guest state:
- include:
  - states.fs.projects.guest
And for the admin state:
- include
  - states.git.core.admin

state_name:   The name without a verb -- e.g. foo-bar, not foo-bar-cloned. This macro appends verbs.
user:         The user name for the local account -- it will become the owner of the repo, and the account that runs the git command.
require:      A list of requirements to execute before cloning (e.g. create the git store etc). This is identical to the salt `require` statement.
store_path:   The FULL path (including repo dir name) where the repo lives -- typically under your projects directory.
app_path:     [OPTIONAL] The directory where the main app data lives. Since we clone into the projects store, which directory in the file system should it link from? For example, for nvim it's ~/.config/nvim. This becomes a symlink that points to the repo IF you provide it, otherwise it doesn't create a symlink.
git_https:    The https link for the repo. This is for cloning without credentials.
git_ssh:      [OPTIONAL] The Git URL for the repo (e.g. git@github.com). It is set on the repo as a remote after cloning. If you leave this blank, the remote is not set.

#}
{% macro clone(prefs) %}
include:
  - states.fs.projects.guest # store repo here
  - states.nvim.core.guest # clone packer

{{ prefs.state_name }}-cloned:
  git.cloned:
    {% if prefs.require %}
    - require:
      {% for dep in require %}
      - {{ dep }}
      {% endfor %}
    {% end if %}
    - name: {{ prefs.git_https }}
    - target: {{ prefs.store_path }}
    - user: {{ prefs.user }}
  {% if prefs.git_ssh %}
  cmd.run:
    - name: git remote set-url origin {{ prefs.git_ssh }}
    - runas: {{ prefs.user }}
    - cwd: {{ prefs.store_path }}
  {% endif %}
  file.directory:
    - name: {{ prefs.store_path }}
    - user: {{ prefs.user }}
    - group: {{ prefs.user }}
    - recurse:
      - user
      - group

{% if prefs.app_path %}
{{ prefs.state_name }}-linked:
  file.symlink:
    - require:
      - {{ prefs.state_name }}-cloned
    - name: {{ prefs.app_path }}
    - target: {{ prefs.store_path }}
    - force: True
    - makedirs: True
    - user: {{ prefs.user }}
    - group: {{ prefs.user }}
{ endif }
{% endmacro %}
