{% macro with_default(option, value) %}
  {%- if option == "kernelopts" -%}
    {{ pillar["kernelopts"] }} {{value}}
  {%- endif -%}
{% endmacro %}

{% macro common_prefs(used) %}
  - autostart: {{ used.get("autostart", False )}}
  - default-dispvm: {{ used.get("default-dispvm", "fedora-dvm") }}
  - default-user: {{ used.get("default-user", "user") }}
  - include-in-backups: {{ used.get("include-in-backups", False) }}
  - kernelopts: {{ used.get("kernelopts", pillar["kernelopts"]) }}
  - label: {{ used["label"] }}
  - management-dispvm: {{ used.get("management-dispvm", "mgmt") }}
  - maxmem: {{ used.get("maxmem", "1500") }}
  - mem: {{ used.get("mem", "600") }}
  - name: {{ used["name"] }}
  - netvm: {{ used.get("netvm", "mfw") }}
  - qrexec-timeout: {{ used.get("qrexec-timeout", "600") }} # BUG: doesn't accept default ""
  - shutdown-timeout: {{ used.get("shutdown-timeout", "240") }}
  - virt-mode: {{ used.get("virt-mode", "pvh") }}
{% endmacro %}

{% macro appvm_from(prefs) %}
{% set template = "salt-fedora-min" %}

{{ prefs.name }}-is-present:
  qvm.present:
    - name: {{ prefs.name }}
    - template: {{ prefs.get("template", template) }}
    - label: {{ prefs.label }}

{{ prefs.name }}-prefs-set:
  qvm.prefs:
  {{ common_prefs(prefs) }}
  - vcpus: {{ prefs.get("vcpus", "2") }}
  - template: {{ prefs.get("template", template) }}
{% endmacro %}

{% macro templatevm_from(prefs, pkg) %}
{{ pkg }}-installed:
  pkg.installed:
    - name: {{ pkg }}
    - fromrepo: qubes-templates-itl

clone-{{ pkg }}-to-{{ prefs["name"] }}:
  qvm.clone:
    - name: {{ prefs["name"] }}
    - source: fedora-min # FIXME: clone from package when qvm.template-installed exists #1
    - flags:
      - shutdown

{{ prefs["name"] }}-prefs-set:
  qvm.prefs:
  {{ common_prefs(prefs) }}
  - vcpus: {{ prefs.get("vcpus", "4") }}
{% endmacro %}

